$dark-primary-text: #000000;
$light-primary-text: #ffffff;

/* For use in src/lib/core/theming/_palette.scss */
$light-color-primary: (
    50 : #e8f0f4,
    100 : #c6d8e3,
    200 : #a0bfd0,
    300 : #7aa5bd,
    400 : #5e91af,
    500 : #417ea1,
    600 : #3b7699,
    700 : #326b8f,
    800 : #2a6185,
    900 : #1c4e74,
    A100 : #b0dbff,
    A200 : #7dc3ff,
    A400 : #4aacff,
    A700 : #30a0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-color-accent: (
    50 : #fcf4e7,
    100 : #f7e4c3,
    200 : #f2d39b,
    300 : #ecc172,
    400 : #e8b354,
    500 : #e4a636,
    600 : #e19e30,
    700 : #dd9529,
    800 : #d98b22,
    900 : #d17b16,
    A100 : #ffffff,
    A200 : #ffe7cf,
    A400 : #ffce9c,
    A700 : #ffc283,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-color-warn: (
    50 : #f7e9e9,
    100 : #ecc8c8,
    200 : #dfa4a4,
    300 : #d28080,
    400 : #c86464,
    500 : #be4949,
    600 : #b84242,
    700 : #af3939,
    800 : #a73131,
    900 : #992121,
    A100 : #ffd5d5,
    A200 : #ffa2a2,
    A400 : #ff6f6f,
    A700 : #ff5656,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark-color-primary: (
    50 : #f1faff,
    100 : #ddf3ff,
    200 : #c7ebff,
    300 : #b0e2ff,
    400 : #9fdcff,
    500 : #8ed6ff,
    600 : #86d1ff,
    700 : #7bccff,
    800 : #71c6ff,
    900 : #5fbcff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #e9f5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark-color-accent: (
    50 : #fffcf6,
    100 : #fff7e7,
    200 : #fff1d8,
    300 : #ffebc8,
    400 : #ffe7bc,
    500 : #ffe3b0,
    600 : #ffe0a9,
    700 : #ffdca0,
    800 : #ffd897,
    900 : #ffd087,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark-color-warn: (
    50 : #fef1f1,
    100 : #fcdbdb,
    200 : #fbc3c3,
    300 : #f9abab,
    400 : #f79999,
    500 : #f68787,
    600 : #f57f7f,
    700 : #f37474,
    800 : #f26a6a,
    900 : #ef5757,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffecec,
    A700 : #ffd3d3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
