$dark-primary-text: #000000;
$light-primary-text: #ffffff;

/* For use in src/lib/core/theming/_palette.scss */
$mat-primary: (
    50 : #e8f0f8,
    100 : #c5daee,
    200 : #9ec2e3,
    300 : #77aad7,
    400 : #5a97cf,
    500 : #3d85c6,
    600 : #377dc0,
    700 : #2f72b9,
    800 : #2768b1,
    900 : #1a55a4,
    A100 : #dae9ff,
    A200 : #a7caff,
    A400 : #74abff,
    A700 : #5b9cff,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$mat-accent: (
    50 : #ffffff,
    100 : #fdeeba,
    200 : #fbe083,
    300 : #f9cf3e,
    400 : #f9c820,
    500 : #f3be07,
    600 : #d5a706,
    700 : #b78f05,
    800 : #9a7804,
    900 : #7c6104,
    A100 : #fffefa,
    A200 : #ffe794,
    A400 : #ffd02e,
    A700 : #feca15,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $dark-primary-text,
        600 : $dark-primary-text,
        700 : $dark-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$mat-warn: (
    50 : #ffd6d6,
    100 : #ff8a8a,
    200 : #ff5252,
    300 : #ff0a0a,
    400 : #eb0000,
    500 : #cc0000,
    600 : #ad0000,
    700 : #8f0000,
    800 : #700000,
    900 : #520000,
    A100 : #ffcccc,
    A200 : #ff6666,
    A400 : #ff0000,
    A700 : #e60000,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $light-primary-text,
        400 : $light-primary-text,
        500 : $light-primary-text,
        600 : $light-primary-text,
        700 : $light-primary-text,
        800 : $light-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $light-primary-text,
        A700 : $light-primary-text,
    )
);