<mat-toolbar>
    <img matRipple [matMenuTriggerFor]="userMenu" class="avatar" src="assets/avatar.png" width="35" height="35">
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="promptToLogout()"><mat-icon>lock</mat-icon> Logout</button>
    </mat-menu>
    <span class="flex-spacer"></span>
    <ngw-dark-mode></ngw-dark-mode>
</mat-toolbar>

<mat-card>
    <mat-card-title>
        <div>
            <span>Todo</span>
            <span class="flex-spacer"></span>
            <button type="submit" mat-icon-button (click)="getAllTodos()"><mat-icon>refresh</mat-icon></button>
        </div>
        <div>
            <!-- Todo Add Form -->
            <form class="inline-form" #formAdd="ngForm" [formGroup]="addFormGroup" (ngSubmit)="addTodo(addFormGroup.valid, addFormGroup.value)">
                <mat-form-field>
                    <input formControlName="title" matInput placeholder="New Todo">
                    <button matSuffix type="submit" mat-icon-button color="primary"><mat-icon>add</mat-icon></button>
                </mat-form-field>
            </form>
        </div>
    </mat-card-title>
    <mat-card-content>
        
        <!-- Todo List -->
        <div [ngSwitch]="todoViewMode">
            <ng-container *ngSwitchCase="'all'">
                <ng-container *ngTemplateOutlet="todosTpl; context: { $implicit: todos$ }"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'completes'">
                <ng-container *ngTemplateOutlet="todosTpl; context: { $implicit: completeTodos$ }"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'actives'">
                <ng-container *ngTemplateOutlet="todosTpl; context: { $implicit: activeTodos$ }"></ng-container>
            </ng-container>
        </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-button [class.active]="todoViewMode == 'all'" (click)="changeTodoViewMode('all')">All</button>
        <button mat-button [class.active]="todoViewMode == 'actives'" color="primary" (click)="changeTodoViewMode('actives')">Active</button>
        <button mat-button [class.active]="todoViewMode == 'completes'" color="accent" (click)="changeTodoViewMode('completes')">Completed</button>
        <span class="flex-spacer"></span>
        <button mat-icon-button color="warn" (click)="promptToDeleteCompletedTodos()" [disabled]="(completeTodos$ | async).length === 0">
            <mat-icon>clear_all</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<div class="footer">
    <mat-icon inline>copyright</mat-icon>
    <span>2020 - powered by <a mat-button href="mail:mousavi.dev@gmail.com">@mousavidev</a></span>
</div>

<ng-template #todosTpl let-todoList$>
    <mat-list>
        <mat-list-item *ngFor="let todo of todoList$ | async">
            <ng-container *ngIf="todo.editMode">
                <ng-container *ngTemplateOutlet="editTodoTpl; context: { $implicit: todo }"></ng-container>
            </ng-container>
            
            <ng-container *ngIf="!todo.editMode">
                <mat-checkbox [checked]="todo.done" (change)="toggleTodoDone($event, todo)"></mat-checkbox>
                <p [ngClass]="{done: todo.done}" (dblclick)="changeViewToEditTodo(todo)">{{todo.title}}</p>
                <span class="flex-spacer"></span>
                <button type="button" mat-icon-button [matMenuTriggerFor]="todoContextMenu"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #todoContextMenu="matMenu">
                    <button mat-menu-item (click)="changeViewToEditTodo(todo)">
                        <mat-icon>edit</mat-icon>
                        <span>Change title</span>
                    </button>
                    <button mat-menu-item (click)="deleteTodo(todo)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </ng-container>
        </mat-list-item>
    </mat-list>
</ng-template>

<ng-template #editTodoTpl let-todo>
    <form #formEdit="ngForm" class="inline-form"
        [formGroup]="editFormGroup"
        (ngSubmit)="editTodoTitle(editFormGroup.valid, editFormGroup.value, todo)"
        (keyup.esc)="changeViewToDisplayTodo(todo)">
        <mat-form-field appearance="legacy" floatLabel="never">
            <input formControlName="title" matInput matInputAutofocus placeholder="Todo title">
            <button type="submit" matSuffix mat-icon-button color="primary"><mat-icon>done</mat-icon></button>
            <button type="button" matSuffix mat-icon-button (click)="changeViewToDisplayTodo(todo)"><mat-icon>close</mat-icon></button>
        </mat-form-field>
        <span class="flex-spacer"></span>
    </form>
</ng-template>
